h1 {
    display: block;
    margin: 10px 250px 10px 250px;
}

.vaultImg {
    display: block;
    width: 200px;
    height: 200px;
    padding: 2px;
    border: 2px solid black;
    margin: 10px 250px  10px 250px;

}


